body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.section h2 {
    margin-top: 0;
    font-size: 18px;
}

.task-list {
    padding: 0;
    list-style-type: none;
}

.task-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align buttons horizontally */
}

#add-task-button,
#add-multiple-tasks-button {
    width: 100%; 
    height: 50%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-button:hover,
#add-multiple-tasks-button:hover {
    background-color: #2980b9;
}



#clear-finished-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-finished-button:hover {
    background-color: #c0392b;
}

/* Dark mode styles */
.dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  .dark-mode .section {
    background-color: #1f1f1f;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
  }
  
  .dark-mode .task-item {
    background-color: #333;
    border: 1px solid #555;
  }

  .bottom-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}